<div >
    <app-page-header [heading]="'Employe Details'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
    <div class="col-xl-12 text-xs-center">
            <div class="card mb-3">
                <div class="card-body">
            <form role="form">
                <div class="form-group">
                    <label>Employe ID</label>
                    <input class="form-control" placeholder="Enter ID" name="Eid" [(ngModel)]="Eid" />
                </div>

                 <div class="form-group">
                    <label> Name</label>
                    <input class="form-control" placeholder="Enter Name" name="Ename" [(ngModel)]="Ename" />
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" placeholder="Enter Email" name="Eemail" [(ngModel)]="Eemail" />
                    <p class="form-control-static">email@example.com</p>
                </div>

              <div class="form-group">
                    <label>Mobile Number</label>
                    <input class="form-control" placeholder="Enter Mobile number" name="Emnumber" [(ngModel)]="Emnumber" />
                </div>
              
                <div class="card mb-3">
                    <div class="card-header">Date Picker</div>
                    <div class="card-body">
                <div class="form-group">
                  <div class="input-group datepicker-input">
                            <input
                                #d="ngbDatepicker"
                                [(ngModel)]="model"
                                class="form-control"
                                name="dp"
                                ngbDatepicker 
                                placeholder="yyyy-mm-dd"/>
                            <button (click)="d.toggle()" class="input-group-addon" type="button">
                                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                                <span class="fa fa-calendar"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                    <label>Blood group</label>
                    <select class="form-control" name="Ebg" [(ngModel)]="Ebg">
                        <option> A Positive (A+)</option>
                        <option> A negative (A-)</option>
                        <option> B Positive  (B+) </option>
                        <option> B Negative (B-)</option>
                        <option> O Positive (O+)</option>
                        <option> O negative (O-)</option>
                        <option> AB Positive (AB+) </option>
                        <option> AB negative (AB-)</option>
                    </select>
                </div>
              
               <div class="form-group">
                    <label for="exampleInputFile">Upload Photo</label>
                    <input class="form-control-file" id="exampleInputFile" type="file" name ="Ephoto" [(ngModel)]="Ephoto"/>
                     <!-- <img alt="" class="img-thumbnail" src="http://placehold.it/400x400" /> -->
                </div> 


                <div class="form-group">
                    <label>Gender</label>
                    <div class="radio">
                        <label>
                            <input checked="" id="optionsRadios1" name="optionsRadios" type="radio" value="Male" [(ngModel)]="Egender"/>
                            Male
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input id="optionsRadios2" name="optionsRadios" type="radio" value="Female" [(ngModel)]="Egender"/> Female
                        </label>
                    </div>
                    <!-- <p>{{Egender}}</p> -->
                </div> 

                <div class="form-group">
                    <label>Work type</label>
                    <select class="form-control" name="Eworktype" [(ngModel)]="Eworktype">
                        <option> Full Day </option>
                        <option> Half day</option>
                        <option> Hourly </option>
                    </select>
                </div> 
                <a (click)="onClickbtn()" [routerLink]="['/dashboard']" class="btn btn-secondary">{{ 'Submit' }}</a>
                <!-- <button class="btn btn-secondary" type="submit">Submit Button</button> -->
                <button class="btn btn-secondary" type="reset">Reset Button</button>
            </form>
        </div>
       </div>
    </div> 
    <!-- /.row -->
</div>
